<% provide(:title, '調査地点データ') %>

<h1><%= @survey.name %></h1>

	<h2>登録している地点名</h2>
	<% @survey.data.each do |datum| %>
			<p><%= link_to datum.site_name, controller: "data", action: "show", id: datum.id %></p>
	<% end %>

