<footer class="footer navbar navbar-fixed-bottom" id="footer">
  <div class="container">
    <nav>
      <ul>
        <li><%= link_to "このサイトの説明と使い方はこちら", help_path %></li>
      </ul>
    </nav>
  </div>
</footer>
